body {
	background: grey;
}

.window {
	width: 1400px;
	height: 800px;
	background: url(../image/parker-amstutz-691364-unsplash.png);
	background-size: 1400px;
	display: flex;
}

.window__block {
	height: 100%;
}

.header {
	width: 100%;
	height: 80px;
	padding: 35px 5px 21px 25px;
	display: flex;
}


.scroll {
	width: 6px;
	height: 100%;
	margin: 0 7px;
}

.scroll-shape {
	width: 6px;
	border-radius: 3px;
	position: absolute;
}

/*----------------------------------------------------------------*/
/*--------------------------NAVIGATION-1--------------------------*/
/*----------------------------------------------------------------*/
.window__navigation-1 {
	width: 70px;
	background: #000000;
	opacity: 70%;
	display: flex;
	flex-direction: column;
}

.navigation-1__dots-os {
	width: 52px;
	height: 12px;
	margin: 10px auto;
	display: flex;
	justify-content: space-between;
}

.dots-os__dot {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border-width: 1px;
	border-style: solid;
}

.dots-os__dot_red {
	background-color: #FF6059;
	border-color: #B3443E;
}

.dots-os__dot_yellow {
	background-color: #FFBD2E;
	border-color: #B38420 ;
}

.dots-os__dot_green {
	background-color: #29CD42;
	border-color: #1A8029;
}

.navigation-1__quick-access {
	flex-grow: 1;
}

.quick-access__app {
	margin: -10px 0;
}

.quick-access__app_active:before {
	content: "";
	width:7px;
	height:7px;
	position:absolute;
	left: -3.5px;
	margin-top: 32px;
	border-radius: 50%;
	background: #8F8F8F;

}

.navigation-1__add-app {
	width: 40px;
	height: 40px;
	margin: 15px;
	background: hsl(0,0%,15%);
	border-radius: 50%;
}

.navigation-1__plus {
	margin: 13px;
}


/*----------------------------------------------------------------*/
/*--------------------------NAVIGATION-2--------------------------*/
/*----------------------------------------------------------------*/
.navigation-2 {
	width: 260px;
	background: #25272A;
	opacity: 75%;
	display: flex;
}

/*-----------------------------*/

.navigation-2__main {
	height: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

/*-----------Header------------*/

.navigation-2__nomad-list {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0px;
	text-align: left;
	color: white;
}

.navigation-2__select-button-container {
	flex-grow: 1;
}

.navigation-2__select-button {
	margin-left: 7px;
	margin-top: 10px;
}

.navigation-2__settings-icon {
	margin-top: 4px;
}

/*-----------Treads------------*/

.navigation-2__treads {
	display: flex;
	margin: 9px 0;
}

.navigation-2__treads-icon {
	margin-left: 23px;
	margin-right: 14px;
}

.navigation-2__treads-value {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0px;
	text-align: left;
	color: #B5B5B5;
}

/*------------List-------------*/

.navigation-2__list {
	display: flex;
	flex-direction: column;
}

.list__header {
	display: flex;
}

.list__caption {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: 14px;
	letter-spacing: 0px;
	text-align: left;
    color: #919191;
	flex-grow: 1;
}

.list__quantity {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: 14px;
	letter-spacing: 0px;
	text-align: right;
	color: #919191;
}

.list__content {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0px;
	text-align: left;
	color: #B5B5B5;
}

/*----------Channels-----------*/

.navigation-2__channels {
	margin: 0 5px 0 23px;
}

.channels__list {
	margin-top: 23px;
}

.channels__header {
	margin-bottom: 18px;
}

.navigation-2__channel {
	display: block;
	padding: 4px 13px 9px;
}

.navigation-2__channel:before {
	content: '# ';
}

.navigation-2__channel_active {
	background: hsla(0,0%,100%,20%);
	border-radius: 4px;
	font-weight: 700;
	color: white;
}

/*-----------Friends-----------*/

.navigation-2__friends {
	margin: 0 5px 0 23px;
}

.friends__list {
	margin-top: 9px;
}

.friends__header {
	margin-bottom: 22px;
}

.navigation-2__friend {
	display: flex;
	margin-bottom: 11px;
}

.friend__portrait {
	width: 32px;
	height: 32px;
	border-radius: 5px;
	margin: 0 7px;
}

.friend__name {
	align-self: center;
	margin-left: 5px;
}

.navigation-2__friend:before {
	content: '';
	height: 6px;
	width: 6px;
	background: #666666;
	border-radius: 50%;
	align-self: center;
}

.navigation-2__friend_online:before {
	background: #70CC16;
}

/*-----------------------------*/

.navigation-2__scroll-shape {
	top: 274px;
	height: 141px;
	background: white;
	opacity: 20%;
}


/*----------------------------------------------------------------*/
/*-----------------------------CENTER-----------------------------*/
/*----------------------------------------------------------------*/
.center {
	width: 870px;
	background: #FFFFFF;
	display: flex;
	flex-direction: column;
}

/*-----------Header------------*/

.center__header {
	border-bottom: 0.5px solid hsla(0,0%,0%,0.24);
	width: 100%;
	padding: 32px 0px 15px 25px;
	align-items: center;
}

.center__channel-name {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0px;
	text-align: left;
	margin-right: 6px;
}

.center__channel-name:before {
	content: '#';
}

.center__add-to-favourite {
	flex-grow: 1;
}

.center__people-online-icon {
	display: inline;
	margin: 1.5px 6px 0;
}

.center__people-online-number {
	display: inline;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0px;
	text-align: right;
	color: #A4A4A4;
}

.center__search-form {
	height: 32px;
	width: 240px;
	margin: 0 23px;
	display: flex;
	border: 0.5px solid rgba(0,0,0,0.24);
	border-radius: 4px;
	padding: 0 16px;
}

.center__search-input {
	font-family: Lato;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0px;
	text-align: left;
	color: #8D8D8D;
	flex-grow: 1;
	background: rgba(0,0,0,0);
}

.center__search-icon {
	margin-left: 8px;
}

.header__notifications {
	position: relative;
}

.header__notifications_new:after {
	content: '';
	width: 4px;
	height: 4px;
	background: #FD4948;
	border-radius: 50%;
	display: block;
	position: absolute;
	top: -1px;
	right: -2px;
}

.header__options {
	margin: 23px;
}

/*-----------------------------*/

.center__main {
	flex-grow: 1;
	display: flex; 
}

/*------------Chat-------------*/

.center__chat {
	flex-grow: 1;
}

/*-----------------------------*/

.center__scroll-shape {
	top: 506.5px;
	height: 205px;
	background: black;
	opacity: 20%;
}

/*----------Chat-Input---------*/

.center__chat-input {
	width: 100%;
	height: 72px;
	border-top: 0.5px solid hsla(0,0%,0%,0.24);
	display: flex;
	align-items: center;
	padding: 0 22px;
}

.chat-input__voice-message {
	margin: 0 19px;	
}

.chat-input__message {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0px;
	text-align: left;
	flex-grow: 1;
	height: 60px;
	resize: none;
}

.chat-input__message:placeholder-shown {
	height: 18px;
}

.chat-input__emoji {
	margin-left: 10px;
}

/*-----------------------------*/


/*----------------------------------------------------------------*/
/*-----------------------------PROFILE----------------------------*/
/*----------------------------------------------------------------*/
.profile {
	width: 200px;
	background: #FFFFFF;
	opacity: 80%;
}
